<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" href="../static/css/bootstrap.css">
    <style>
        .error {
            color: red;
        }
    </style>
    <script th:src="@{/js/jquery-3.6.0.js}" src="../static/js/jquery-3.6.0.js"></script>
    <script th:src="@{/js/bootstrap.js}" src="../static/js/bootstrap.js"></script>
    <title>Registro empleados</title>
</head>
<body>    
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 container justify-content-center card"></div>
            <h1 class="text-center">Registro de empleados</h1>
            <div class="card-body">
                <form th:action="@{/employees}" th:object="${employee}" method="post">
                    <div class="form-group">
                        <label>Nombre: </label>
                        <input type="text" th:field="*{name}" class="form-control" name="name" placeholder="Insertar en mayusculas">
                        <p th:if="${#fields.hasErrors('name')}" th:errorclass="error" th:errors="*{name}" th:class="${#fields.hasErrors('name')}? error"/>
                    </div>
                    <div class="form-group">
                        <label>Segundo nombre: </label>
                        <input type="text" th:field="*{othersName}" class="form-control" name="othersName">
                        <p th:if="${#fields.hasErrors('othersName')}" th:errorclass="error" th:errors="*{othersName}" th:class="${#fields.hasErrors('othersName')}? error"/>
                    </div>
                    <div class="form-group">
                        <label>Apellido: </label>
                        <input type="text" th:field="*{surname}" class="form-control" name="surname">
                        <p th:if="${#fields.hasErrors('surname')}" th:errorclass="error" th:errors="*{surname}" th:class="${#fields.hasErrors('surname')}? error"/>
                    </div>  
                    <div class="form-group">
                        <label>Segundo apellido: </label>
                        <input type="text" th:field="*{secondSurname}" class="form-control" name="secondSurname">
                        <p th:if="${#fields.hasErrors('secondSurname')}" th:errorclass="error" th:errors="*{secondSurname}" th:class="${#fields.hasErrors('secondSurname')}? error"/>
                    </div>
                    <div class="form-group">
                        <label>Pais de empleo: </label>
                        <input type="text" th:field="*{workCountry}" class="form-control" name="workCountry">
                    </div>
                    <div class="form-group">
                        <label for="idType">Tipo de identificacion: </label>
                        <select class="form-control selectpicker" th:field="*{idType}" id="idType">
                            <option value="">Selecciona opcion</option>
                            <option th:each="idType : ${T(com.us.cidenet.model.IdType).values()}"
                                    th:value="${idType}"
                                    th:text="${idType}">tipoIdentificacion
                            </option>
    
                        </select>
                    </div>                    
                    <div class="form-group">
                        <label>Numero de identificacion: </label>
                        <input type="text" th:field="*{idNumber}" class="form-control" name="idNumber">
                    </div>
                    <div class="form-group">
                        <label>Correo electronico: </label>
                    </div>
                    <div class="form-group">
                        <label>Fecha ingreso: </label>
                        <input type="datetime-local" class="form-control" id="entryDate" th:field="*{entryDate}"/>
                    </div>
                    <div class="form-group">
                        <label for="area">Area de trabajo: </label>
                        <select class="form-control selectpicker" th:field="*{area}" id="area">
                            <option value="">Selecciona opcion</option>
                            <option th:each="area : ${T(com.us.cidenet.model.Area).values()}"
                                    th:value="${area}"
                                    th:text="${area}">area
                            </option>
    
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Fecha/hora registro: </label>
                        <p th:text="${#dates.createNow()}" ></p>                        
                    </div>
                    <br/>
                    <button class="btn btn-primary" type="submit">Guardar</button>
                </form>
            </div>
        </div>     
       
    </div>
</body>
</html>
