<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empleados</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" href="../static/css/bootstrap.css">
    <script th:src="@{/js/jquery-3.6.0.js}" src="../static/js/jquery-3.6.0.js"></script>
    <script th:src="@{/js/bootstrap.js}" src="../static/js/bootstrap.js"></script>
    
</head>
<body>    
    <div class="container">
        <div class="row">
            <div class="col"><h1>Empleados</h1></div>
            <div calss="col"><a th:href="@{/employees/new}">Registrar nuevo empleado</a></div>
        </div>
        <table class="table table-hover">
            <tr>
                <th>Primer nombre</th>
                <th>Segundo nombre</th>
                <th>Primer apellido</th>
                <th>Segundo apellido</th>
                <th>Tipo identificacion</th>
                <th>Numero identificacion</th>
                <th>Pais de empleo</th>
                <th>Correo Electronico</th>
                <th>Acciones</th>
            </tr>
            <tr  th:each="employee : ${employees}">
                <td th:text="${employee.name}">Primer nombre</td>
                <td th:text="${employee.othersName}">Segundo nombre</td>
                <td th:text="${employee.surname}">Primer apellido</td>
                <td th:text="${employee.secondSurname}">Segundo apellido</td>
                <td th:text="${employee.idType}">Tipo identificacion</td>
                <td th:text="${employee.idNumber}">Numero identificacion</td>
                <td th:text="${employee.workCountry}">Pais de empleo</td>
                <td th:text="${employee.email}">Correo Electronico</td>
                <td>
                    <a th:href="@{/editForm/{id}(id=${employee.id})}" class="btn btn-info btn-sm" style="height: 25px;width: 25px;" title="Editar"></a>
                    <a th:href="@{/deleteEmployee/{id}(id=${employee.id})}" class="btn btn-danger btn-sm" style="height: 25px;width: 25px;" title="Eliminar"></a>
                </td>
            </tr>
        </table>
       
    </div>
</body>
</html>

